.about-section__container {
    background: rgba(147, 63, 255, 0.5);
    width: 100%;
    height: 70vh;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.phone-info {
    text-align: center;
}

.info {
    padding: 6vh 0;
    color: #ffffff;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: underline #ffeb3b;
}

.phone-list {
    list-style: none;
    color: #fff;
    font-size: 25px;
}

.phone {
    color: green;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    display: inline-block;
    cursor: pointer;
}

.phone:after {
    display: block;
    content: "";
    height: 2.2px;
    width: 0;
    background-color: #ffeb3b;
    transition: width .3s ease-in-out;
}

.phone:hover:after,
.phone:focus:after {
  width: 100%;
}
